/**
 * Gallery pictures & videos
 */

.main-container.gallery {
	background: url('../images/gallery.jpg') center center no-repeat;
}

.main-container.location {
	background: url('../images/maps.jpg') center center no-repeat;
}

.main-container.contact-form {
	background: url('../images/contact.jpg') center center no-repeat;
}

.item-gallery {
	text-align: center;
	position: relative;
}
.item-gallery li {
	position: relative;
	width: 205px;
	height: 205px;
	display: inline-block;
	vertical-align: top;

	margin-right: 25px;
	margin-bottom: 15px;
	margin-top: 10px;
	
	background: #FFF;
}

.item-gallery img {
	position: absolute;
	top: 50%;
	left: 50%;

	margin-left: -82.5px;
	margin-top: -62.5px;
}

.item-gallery:after,
.item-gallery:before {
	content: '';
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	/*background: #FFF;*/

}

.item-gallery:after {
	right: 100%;
	margin-right: -37px;
}

.item-gallery:before {
	left: 100%;	
	margin-left: -60px;
}